﻿@model shopping_cart.Models.CartViewModel

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>Email: @Html.TextBoxFor(model => model.Email)</div>
    <br />

    for (int i = 0; i < Model.SelectedItems.Count; i++)
    {
        @Html.HiddenFor(model => model.SelectedItems[i].Pk_ProductID)
        @Html.HiddenFor(model => model.SelectedItems[i].ProductName)
    }

    <table class="table">
        @foreach (var item in Model.SelectedItems)
        {
            <tr>
                <td>
                    @item.Pk_ProductID
                </td>

                <td>
                    @item.ProductName
                </td>
            </tr>
        }
    </table>

    <div class="form-actions no-color">
        <input type="submit" value="Submit" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index", "Products")
    </div>
}