﻿@model IEnumerable<shopping_cart.Models.OrderHistoryViewModel>


@{
    ViewBag.Title = "Order History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order History</h2>
<hr />

<div class="container">
    @foreach (var item in Model)
    {
        <div>
            ORDER @Html.DisplayFor(modelItem => item.Id):<br />
            @Html.DisplayFor(modelItem => item.Email)
        </div>
        <div>
            @for (int i = 0; i < item.OrderItems.Count; i++)
            {

                @Html.DisplayFor(modelItem => item.OrderItems[i].ProductName)<br />
            }
            <br />
        </div>
    }
</div>