﻿@model shopping_cart.Models.Tbl_Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">    
    <hr />
        <div class="col-lg-12 col-sm-12 text-center" style="font-size: large">
            <img src="@Url.Content(Model.ProductPicture)" class="img-responsive img-rounded" style="margin:0 auto" alt="Picture" height="531" width="531" /><br/>
            @Html.ActionLink(Model.ProductName + " - Add to Cart", "AddItem", "Orders", new { id = Model.Pk_ProductID }, null)            
        </div>
</div>