﻿@model IEnumerable<shopping_cart.Models.Tbl_Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

@Html.AntiForgeryToken()

<div class="form-actions no-color text-right">

        @*<button type="button" value="Checkout" class="btn btn-default">
            @Html.ActionLink("Create New", "Create")
        </button>*@

    <input type="button" name="Checkout" value="Checkout" onclick="location.href='@Url.Action("Checkout", "Orders")' " class="btn btn-default" />
</div>

<hr />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-sm-6 text-center">
                @if (item.Pk_ProductID % 2 != 0)
                {
                    <img src="@Url.Content(@item.ProductPicture)" alt="Picture" class="img-responsive img-rounded" /><br />
                    @Html.ActionLink(item.ProductName, "Details", new { id = item.Pk_ProductID })<br />
                }
            </div>
            <div class="col-md-6 col-sm-6 text-center">
                @if (item.Pk_ProductID % 2 == 0)
                {
                    <img src="@Url.Content(@item.ProductPicture)" alt="Picture" class="img-responsive img-rounded" /><br />
                    @Html.ActionLink(item.ProductName, "Details", new { id = item.Pk_ProductID })<br />
                }
            </div>
        }
    </div>
</div>

